@import "_variables";
$dark: $Haiti;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1170px,
  xxl: 1320px,
) !default;

$navbar-brand-font-size: 1.75rem;
$nav-link-font-size: 0.8125rem;
$navbar-dark-color: $White;
$navbar-dark-hover-color: $White;
