$OuterSpace: #333b3f;
$White: #ffffff;
$SpringGreen: #0feb9e;
$Haiti: rgba(16, 22, 54, 0.2);
$PictonBlue: #32b0ee;
$AquaHaze: #f4f7f9;
$Niagara: #0eb493;
$Porcelain: #e6e8ea;
$MountainMeadow: #1ea78d;

$font-weight-extrabold: 800;
$font-weight-semibold: 600;
