$OuterSpace: #333b3f;
$White: #ffffff;
$White40: rgba(255, 255, 255, 0.4);
$Black30: rgba(0, 0, 0, 0.3);
$SpringGreen: #0feb9e;
$Haiti: rgba(16, 22, 54, 0.2);
$PictonBlue: #32b0ee;
$AquaHaze: #f4f7f9;
$Niagara: #0eb493;
$NiagaraOpacity90: rgba(14, 180, 147, 0.9);
$NiagaraOpacity95: rgba(14, 180, 147, 0.95);
$Porcelain: #e6e8ea;
$MountainMeadow: #1ea78d;
$BlackPearl: #062033;
$RegentGray: #858f98;
$Nevada: #6a737b;
$ShuttleGray: #5b646e;

$font-weight-extrabold: 800;
$font-weight-semibold: 600;
